.toolbar {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  display: flex;
  margin: 0 auto;
  pointer-events: auto;
  align-items: center;
}

.canvas-toolbar {
  background-color: white;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
  height: 42px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 10px;
}

.toolbar-divider {
  width: 1px;
  height: 24px;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 0 4px;
}
